PORT_BACKEND=3000

DATABASE_URL="postgresql://postgres:123456@postgres:5432/juju?schema=public"

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_NAME=postgres


REDIS_HOST=redis
REDIS_PORT=6379